<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Burger logger!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body id="burger-body">
		{{{ body }}}
	</body>
</html>
